.navMenu{
    background-color: #6d6d6d;
    height: 70vh;
}

.navMenu::after{
    content: '';
    display: block;
    clear: both;
}

.navMenu ul{
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.navMenu ul li a:hover{
    font-weight: bold;
    font-size: 18px;
    color: blue;
}

#inicio{
    height: 70vh;
    background-color: greenyellow;
    border: 1px solid black;
}

#cursos{
    height: 90vh;
    background-color: hotpink;
    border: 1px solid lawngreen;
}

#contatos{
    height: 60vh;
    background-color: orange;
    border: 1px solid rgb(88, 94, 7);
}

#parceiros{
    height: 40vh;
    background-color: thistle;
    border: 1px solid rgb(7, 255, 181);
}

#missao{
    height: 90vh;
    background-color: teal;
    border: 1px solid yellow;
}

#sobre{
    height: 10vh;
    background-color: seashell;
    border: 1px solid red;
}